:root {
  --app-heading-font-family: var(--font-noto-serif-sc), "Noto Serif SC",
    "Source Han Serif SC", "Songti SC", "STSong", "SimSun", "NSimSun", serif;
  --font-weight-bold: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: var(--app-heading-font-family);
}

.font-bold {
  --tw-font-weight: var(--font-weight-bold);
  font-weight: var(--font-weight-bold);
}
